.sidebar {
width: 170px;

 margin: 20px;
 margin-left:  30px;
 border: rgb(255, 12, 12) 2px dashed;
height: fit-content;
padding: 20px ;
border-radius: 10px;


}
.sidebar:hover{
    border: rgb(211, 40, 185) 2px dashed;
}

.category {
    
    margin-left: 40px;
    color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;

} 

.sidebar span {
margin-left: 10px;
font-weight: 500;

   
}

.sidebar li {
    list-style: none;
    padding: 5px;
}
.sidebar li:hover {
    padding: 5px 10px;
    border-radius: 10px;
color:white;
background-color: red;

}