.sidebar {
  min-width: 170px;
  margin: 20px;
  /* margin-left: 30px; */
  border: rgb(225, 225, 225) 2px dashed;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.category {
  /* margin-left: 40px; */
  color:  rgb(255, 148, 55);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  margin-left: 5px;
}

.sidebar span {
  margin-left: 10px;
  font-weight: 500;
}

.sidebar li {
  list-style: none;
  padding: 5px;
  /* padding-left: 10px; */
  display: flex;
  align-items: center;

}
.sidebar li:hover {

  color:  rgb(255, 148, 55);
}

.selected {
  background-color: rgba(255, 154, 65, 0.541);
  color: white;
  border-radius:5px;
  
}
